/* CSS reset (given in the assignment) */
*{
  margin: 5px;
  padding: 5px;
}

/* Layout */
#container{
  width: 950px;
  background-color: silver;
  margin: 0 auto;
}

#header{
  height: 150px;
  background-color: blue;
}

#nav_bar{
  height: 300px;
  width: 180px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
}

#main_content{
  height: 360px;
  width: 725px;
  background-color: yellow;
  display: inline-block;
  vertical-align: top;
}

.subcontent{
  height: 200px;
  width: 200px;
  background-color: purple;
  display: inline-block;
}

.subcontent:first-child{

  margin-right: 17.5px;
}

.subcontent:nth-child(2){
  margin-left: 17.5px;
  margin-right: 17.5px;
}

.subcontent:nth-child(3){
  margin-left: 17.5px;

}

/* Pink bar */
#advertisements{
  height: 90px;
  width: 698px;
  background-color: pink;
}
