/*CSS reset, don't mind it for now. */
*{
 margin: 5px;
 padding: 5px;
}
#container{
 width: 950px;
 height: 600px;
 background-color: silver;
 margin: 0px auto;

 
}

#header{
 height: 150px;
 background-color: blue;
}

#nav_bar{
 height: 300px;
 width: 180px;
 background-color: red;
 display: inline-block;
 position: relative;
 top: 0px;
 vertical-align: top;
}

#main_content{
 height: 360px;
 width: 725px;
 background-color: yellow; 
 position: relative;
 display: inline-block;
 flex-wrap: wrap;
 top: 0px;
 vertical-align: top;
}

.subcontent{
 height: 200px;
 width: 200px;
 background-color: purple;
 margin: 10px;
 position: relative;
 display: inline-block;
}

#advertisements{
 height: 90px;
 width: 670px;
 background-color: pink;
}