
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#img{
    display: block;
    margin: 0 auto;
}
#search{
    background-color: rgb(226, 226, 226);
    text-align: center;
    margin-bottom: 5px;
}
.container{
    display: flex;
}
#box1{
    background-color: aqua;
    width: 30%;
    text-align: center;
    margin-right: 5px;
    flex: 1;
    justify-content: center ;
}
#box2{
    background-color: rgb(1, 167, 169);
    text-align: center;
    width: 30%;
    flex: 1;
}
#box3{
    background-color: rgb(1, 121, 123);
    text-align: center;
    width: 30%; 
    flex: 1;
    margin-left: 5px;
}
a{
    margin-left: 5px;
}
#copy{ 
    text-align: center; 
    margin-top: 10px;
 }

#google-search{
    margin-bottom: 17px;
}
#search-bar{
    margin-bottom: 1px;
}